div.uk-vertical-align-middle {
    width: 80%;
}

img.uk-margin-bottom {
    width: 140;
    height: 120;
}

input {
    float: left;
    padding-right: 25px;
}

button.uk-icon-qrcode {
    float: right;
    display: inline-block;
    margin-top: -39px;
    margin-right: -10px;
    color: black;
    text-decoration: none;
}

button.uk-icon-qrcode:hover {
    color: #4B4747;
    text-decoration: none;
}
